/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* General Styling */
a {
	color: white;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.container {
	background-image: url("background.png");
	background-repeat: no-repeat;
	width: 1000px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Header Styling */

.header {
	padding-top: 20px;
	padding-left: 30px;
	position: absolute;
}

.sign_in {
	padding-top: 15px;
	padding-right: 50px;
	color: black;
	float: right;
	text-align: right;
}

.sign_in form {
	display: block;
}

/* Home Page Styling */

.intro {
	padding-top: 115px;
	padding-left: 75px;
	width: 830px;
	height: 545px;
}

#sign_up {
	position: absolute;
	left: 645px;
	top: 645px;
	z-index: 5;
}

/* Footer Styling */
.footer {
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	text-align: center;
}